ul.navbar{
    list-style-type: none;
    padding-inline: auto;
    margin: auto;
    background-color:burlywood;
    display: inline-flex;
    border-radius: 0px 0px 30px 30px;
}

ul.navbar li a{
    float: left;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-right: 1px solid black;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: salmon;
}

ul.navbar li a:hover{
    background-color: sandybrown;
    border-radius: 0px 0px 30px 30px;
}