---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import { getCollection } from "astro:content";

const researchEntries = await getCollection("research");
---

<BaseLayout title="Research">
  <div class="posts">
    <h1 class="posts-title">Research</h1>
    <p></p>
    {
      researchEntries.length === 0 ? (
        <p>No research posts yet.</p>
      ) : (
        researchEntries.map((entry) => (
            <PostCard entry={entry} variant="research" />
        ))
      )
    }
  </div>
</BaseLayout>

<style>
  .posts-title {
    position: relative;
    color: var(--accent);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 3px dotted var(--accent);
  }

  .posts-title::after {
    content: "";
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--accent);
  }
</style>
