/* Fira Code: https://github.com/tonsky/FiraCode */
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
