---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__inner">
    <div>
      <a
        href="https://github.com/piyushsatti"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
      <span class="separator">::</span>
      <a
        href="https://www.linkedin.com/in/piyush-satti/"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
      <span class="separator">::</span>
      <a
        href="https://scholar.google.ca/citations?user=eR10c10AAAAJ&hl=en"
        target="_blank"
        rel="noopener noreferrer"
      >
        Google Scholar
      </a>
    </div>
    <div class="copyright">
      <span>
        © {currentYear} Powered by <a
          href="https://astro.build"
          target="_blank">Astro</a
        >
      </span>
    </div>
  </div>
</footer>
