---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = import.meta.env.BASE_URL.endsWith('/') ? import.meta.env.BASE_URL : import.meta.env.BASE_URL + '/';
---

<BaseLayout title="Hobbies">
  <div class="index-content framed">
    <h1>About</h1>
    <p>
      When I'm not coding, I enjoy hiking, photography, and playing the guitar. These activities help me relax and recharge, allowing me to return to my work with a fresh perspective.
    </p>
    <p>
      <a href="https://github.com/piyushsatti" target="_blank" rel="noopener noreferrer">GitHub</a> ::
      <a href="https://www.linkedin.com/in/piyush-satti/" target="_blank" rel="noopener noreferrer">LinkedIn</a> ::
      <a href="https://scholar.google.ca/citations?user=eR10c10AAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Scholar</a>
    </p>
  </div>
</BaseLayout>